body {
  width: 250px;
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  text-align: center;
  background-color: #313131;
  color: white;
}

.header {
  font-size: 1rem;
  font-weight: normal;
}

.input-container {
  padding: 10px 0;
  background-color: #1c1c1c;
  width: 100%;
}

.input {
  margin: 5px;
  border-radius: 5px;
  border: 1px solid #AAA;
  font-size: 16px;
  padding: 5px;
  background: transparent;
  color: white;
  border: 1px solid white;
}

.button {
  margin: 10px 5px;
  border-radius: 5px;
  border: 0;
  font-size: 14px;
  padding: 5px 10px;
  cursor: pointer;
  color: white;
  background-color: #89D1FE;
}
