body {
  width: 200px;
  font-family: 'Roboto', sans-serif;
  font-size: 0.5rem;
  margin: 0px;
}

.header {
  text-align: center;
}

.content {
  padding: 10px 0;
  background-color: #eee;
  width: 100%;
  text-align: center;
}

.input{
  margin: 5px;
  border-radius: 5px;
  border: 1px solid #AAA;
  font-size: 16px;
  padding: 5px;
}

.button {
  margin: 10px 5px;
  border-radius: 5px;
  border: 1px solid #AAA;
  font-size: 14px;
  padding: 5px;
  cursor: pointer;
}
